*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
}
html,
body {
  height: 100%;
  overflow: hidden;
}

img,
picture,
canvas {
  display: block;
  max-width: 100%;
}
body {
  padding: 2em;
  color: rgb(255, 255, 255, 0.75);
  font-family: monospace;
  background-color: rgb(25, 25, 25);
}
.card {
  max-width: 350px;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0);
  transition: all 0.35s ease-in;
  overflow: hidden;
}
.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1);
  cursor: crosshair;
}
#brand {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60%;
  opacity: 0.2;
  transition: all 0.3s ease;
}
.card:hover > #brand {
  opacity: 0.22;
  
}
#avatar {
  width: 75px;
  height: 75px;
  border-radius: 0.5rem;
  overflow: hidden;
}
#time {
  display: inline-block;
  background: rgba(0, 255, 195, 0.5);
  padding: 0 0.25rem;
  border-radius: 2rem;
  color: black;
}
a {
  color: white;
  text-decoration: none;
}
#email {
  color: yellow;
}
