@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}
html,
body {
  height: 100%;
}
:root {
  /*app*/
  --s7-primary-bg: #fefefe;
  --s7-primary-fg: #020202;
  /* colors */
  --s7-grey-light: #d0d0d0;
  --s7-grey-graphite: #4d5362;
}

body {
  color: var(--s7-primary-fg);
  background: var(--s7-primary-bg);
  -webkit-font-smoothing: antialiased;
}
a:hover {
  opacity: 0.7;
  transition: all 0.1s ease;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 500ms linear;
}

@keyframes ellipsis {
  0% {
    content: "-.-";
  }
  20% {
    content: "o.o";
  }
  40% {
    content: "O.O";
  }
  60% {
    content: "(0-0)";
  }
  100% {
    content: "(0v0)";
  }
}

.dots::after {
  content: ".";
  animation: ellipsis 1.5s infinite steps(3, end);
}
